Source: winwrangler
Section: gnome
Priority: optional
Maintainer: Mikkel Kamstrup Erlandsen <mikkel.kamstrup@gmail.com>
Build-Depends: cdbs,
               debhelper (>= 5),
               libglib2.0-dev (>= 2.16),
               libgtk2.0-dev (>= 2.12),
               libwnck-dev (>= 2.22),
               libgtkhotkey-dev (>= 0.2)
Standards-Version: 3.7.3

Package: winwrangler
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Small desktop daemon to perform advanced window
 manipulations not commonly found in window managers.
 .
 This package contains support for the 'tile', 'expand',
 and '2/3 layout' actions.
 .
 Disclaimer: This package is based on a very early release of WinWrangler
 and should not be considered production ready by a long shot.
